*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  // font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  font-size: 12px !important;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  color: black;
}
