// .analytics_container {
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   grid-template-rows: repeat(4, 1fr);
//   grid-column-gap: 17px;
//   grid-row-gap: 40px;

//   &__box_1 {
//     grid-area: 1 / 5 / 5 / 7;
//   }
//   &__box_2 {
//     grid-area: 1 / 1 / 3 / 5;
//   }
//   &__box_3 {
//     grid-area: 3 / 1 / 5 / 3;
//   }
//   &__box_4 {
//     grid-area: 3 / 3 / 5 / 5;
//   }
// }

.analytics_heading {
  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-top: 5rem;
  gap: 50px;
}

.analytics_container {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 25px;
  height: 100%;

  min-height: 20rem;

  & > div {
    border-radius: var(--border_radius_1);
    padding: 2rem 2rem 1.6rem;
    box-shadow: var(--box_shadow_1);
  }

  #line_chart {
    background-color: var(--color_white);
    grid-row: 1 / 3;
    grid-column: 1 / 5;

    & h4 {
      color: var(--color_blue_4);
    }
  }

  #event_dist {
    background-color: var(--color_white);
    grid-row: 1 / 5;
    grid-column: 5 / 7;
  }

  #card_medium {
    background-color: var(--color_purple_1);
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 3;

    & h4 {
      font-size: 15px;
      color: var(--color_gray_6);
      opacity: 0.8;
      margin-bottom: 3px;
    }

    & p {
      font-size: 11px;
      font-weight: 800;
    }

    & .top {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;

      & .img_wrapper {
        width: 5.5rem;
        height: 6rem;
        // img {height: 100%;}
      }
    }
  }

  #card_1 {
    background-color: var(--color_white);
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 5;
    grid-column-end: 4;
  }

  #card_2 {
    background-color: var(--color_white);
    grid-row-start: 3;
    grid-column-start: 4;

    grid-row-end: 5;
    grid-column-end: 5;
  }

  .feature_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 13px;
  }
}

.icon_wrapper {
  --bg_color: black;

  font-size: 1.8rem;
  background-color: var(--bg_color);
  color: var(--color_white);
  border-radius: 100px;

  width: 3.3rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
