.statics_container {
  margin-top: 5rem;
}

.statics_cards_container {
  & .statics_card {
    display: flex;
    gap: 10px;

    padding: 2rem 3.5rem;
    background-color: var(--color_white);

    &__content {
      border: 1px solid rgba(0, 128, 0, 0.349);
    }

    &__heading {
      margin-bottom: 0.6rem;
    }
    &__progress {
    }
  }
}
