

.popup_box {
  background-color: rgb(226, 226, 226);
  width: 100px;
  height: 100px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.407);
  
  padding: 10px; 

  display: flex;
  justify-content: center;
  align-items: center;
}