[submodule "vue-examples/headlessui"]
	path = vue-examples/headlessui
	url = git@github.com:tailwindlabs/headlessui.git
[submodule "vue-examples/hoppscotch-postman-ui"]
	path = vue-examples/hoppscotch-postman-ui
	url = https://github.com/hoppscotch/hoppscotch
