[submodule "vue-examples/headlessui"]
	path = vue-examples/headlessui
	url = git@github.com:tailwindlabs/headlessui.git
[submodule "vue-examples/hoppscotch-postman-ui"]
	path = vue-examples/hoppscotch-postman-ui
	url = https://github.com/hoppscotch/hoppscotch
[submodule "react-native-expo-examples/VirtualEvents"]
	path = react-native-expo-examples/VirtualEvents
	url = git@github.com:notJust-dev/VirtualEvents.git
[submodule "vue-examples/node-vue-chat"]
	path = vue-examples/node-vue-chat
	url = git@github.com:luvuong-le/node-vue-chat.git
[submodule "react-examples/transform"]
	path = react-examples/transform
	url = git@github.com:ritz078/transform.git
