<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Card Component</title>
  <script src="assets/index.js"></script>
  <link rel="stylesheet" href="scss/main.scss">
  <link rel="stylesheet" href="_card7nov.css">
</head>

<body>

  <section>
    <div class="inlineCard">
      <div class="card7 light">
        <h4 class="card7__heading">Dipen<span>Parmar</span> </h4>

        <h3 class="card7__sub_heading">Just for Css|scss Refreshment </h3>
        <p class="card7__content">dipensavji@gmail.com</p>
      </div>

      <div class="card7 dark">
        <h4 class="card7__heading">Dipen<span>Parmar</span> </h4>

        <h3 class="card7__sub_heading">Sub Heading for my Custom Card</h3>
        <p class="card7__content">dipensavji@gmail.com</p>
      </div>
    </div>

  </section>

</body>

</html>