:root {
  --color_white: #fff;
  --color_black: #000;

  --color_gray_1: #fafafa;
  --color_gray_2: #ededed;
  --color_gray_3: #e1e1e1;
  --color_gray_4: #a9a9a9;
  --color_gray_5: #898989;
  --color_gray_6: #383737;
  --color_gray_7: #3f3f40;

  --box_shadow_1: 0px 1px 3px 0.5px hsla(0, 0%, 0%, 0.1);
}
