@import './reset';
@import './base';

/* 
========================================================
  General Styles 
======================================================== 
*/
// START
.bbg {
  background-color: #fb7185 !important;
}
.bbg > .bbg {
  background-color: greenyellow !important;
}

.hyphen {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

.hyphen::before {
  content: '';
  width: 11px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: hsla(256, 81%, 56%, 0.525);
}

.bg-radial {
  background-image: radial-gradient(
    farthest-corner at 50% 40%,
    hsla(263, 22%, 16%, 0.926),
    black
  );
}
