$color-primary: rgb(250, 181, 101);
$bg-color-gray: rgb(240, 240, 240);

.grid-two-section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  // @media only screen and (max-width: 600px) {
  //   grid-template-columns: 1fr;
  // }

  & .content-img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;

    background: center no-repeat url('./back.jpg');
    background-size: cover;

    & .img {
      width: 100%;
      grid-column: 2 / -2;
      grid-row: 2 / -2;
      box-shadow: 0 0.2rem 4rem rgba(#000, 0.1);
    }
    
    & .img2 {
      width: 100%;
      grid-column: 4 / 7;
      grid-row: 4 / 6;
      box-shadow: 0 2rem 5rem rgba(#000, 0.2);

      z-index: 20;
    }
  }

  & .content {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    align-content: center;
    justify-items: start;

    padding: 6rem 8vw;
    background-color: $bg-color-gray;
    & .slugan {
      color: $color-primary;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
    }

    & .title {
      font-size: 26px;
      margin-top: 5px;
      margin-bottom: 5px;

      font-weight: 400;
      font-style: italic;
    }

    & .paragraph {
      font-size: 1.3rem;
      line-height: 1.7;
      color: rgb(36, 14, 14);
    }
    & .btn {
      text-transform: uppercase;
      padding: 1.3rem 2.5rem;
      background-color: $color-primary;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: darken($color-primary, 4);
      }
      &:active {
        background-color: darken($color-primary, 6);
      }
    }
  }
}
