:root {
  --color_white: #fff;
  --color_1: #fafafa;
  --color_11: #ededed;
  --color_111: ##f2e8ff;
  --color_3: #4f46bb;
  --color_33: #52459f;
  --color_333: #4d4a80;
  --color_4: #fdbc64;
  --color_44: #ab6752;
  --color_444: #fef3f1;
  --color_5: #434343;
  --color_6: #10243d;
  --color_7: #84e9f5;
}
