:root {
  --color_white: #fff;
  --color_black: #000;

  // --color_1: #fafafa;
  // --color_11: #ededed;
  // --color_444: #e1e1e1;
  // --color_55: #a9a9a9;
  // --color_5: #949494;
  // --color_555: #434343;

  --color_gray_1: #fafafa;
  --color_gray_2: #ededed;
  --color_gray_3: #e1e1e1;
  --color_gray_4: #a9a9a9;
  --color_gray_5: #949494;
  --color_gray_5: #434343;

  --color_blue_1: #4f46bb;
  // --color_blue_2: #52459f;
  // --color_blue_3 #4d4a80;

  --color_orange_1: #fdbc64;
  // --color_orange_2: #ab6752;

  // --color_sky_1: #84e9f5;

  // --color_stone_1: #10243d;
  // --color_111: ##f2e8ff;
}
