:root {
  --color_white: #fff;
  --color_black: #000;

  // --color_1: #fafafa;
  // --color_11: #ededed;
  // --color_444: #e1e1e1;
  // --color_55: #a9a9a9;
  // --color_5: #949494;
  // --color_555: #434343;

  --color_gray_1: #fafafa;
  --color_gray_2: #ededed;
  --color_gray_3: #e1e1e1;
  --color_gray_4: #a9a9a9;
  --color_gray_5: #898989;
  --color_gray_6: #383737;
  --color_gray_7: #3f3f40;

  --color_blue_1: #5c53c6;
  --color_blue_2: #52459f;
  // --color_blue_3: #4d4a80;
  --color_blue_4: #222d6c;

  --color_orange_1: #fdbc64;
  --color_orange_2: #f7896a;

  --color_orange_3: #ac6853;
  --color_orange_4: #fef3f1;

  --color_purple_1: #f2e8ff;

  --color_sky_1: #84e9f5;
  // --color_stone_1: #10243d;

  --border_radius_1: 1rem;

  --box_shadow_1: 0px 1px 3px 0.5px hsla(0, 0%, 0%, 0.1);
}
