@import './mixins';
@import './colors';
@import './base';

.main_container {
  background-color: var(--color_1);
  display: grid;
  grid-template-columns: 30rem auto 40rem;

  & > aside,
  main {
    padding-top: 3rem;
    padding-left: 2.7rem;
  }

  & .navigation {
    min-height: 100vh;
    background-color: var(--color_white);
    border: 1px solid var(--color_11);
  }

  & main {
  }

  & .navigation_right {
    min-height: 100vh;
    background-color: var(--color_white);
    border: 1px solid var(--color_11);
  }
}
