@import './mixins';
@import './colors';
@import './reset';
@import './base';
@import './utilities';

@import './temp.scss';

.main_container {
  background-color: var(--color_gray_1);
  display: grid;
  grid-template-columns: 30rem auto 40rem;

  @include responsive(lg) {
    grid-template-columns: auto 27rem;
  }

  @include responsive(md) {
    grid-template-columns: auto 22rem;
  }

  @include responsive(sm) {
    grid-template-columns: 1fr;
  }

  @include bbg;

  & main {
    padding-top: 3.1rem;
    padding-bottom: 2.7rem;
    padding-left: 3.5rem;
  }

  & .sidebar {
    min-height: 100vh;
    background-color: var(--color_white);
    border: 1.5px solid var(--color_gray_11);
    padding-top: 3.1rem;
    padding-left: 3.5rem;
    padding-right: 2.8rem;
    padding-bottom: 2.7rem;

    @include responsive(lg) {
      display: none;
    }
  }

  & .sidebar_right {
    min-height: 100vh;
    background-color: var(--color_white);
    border: 1px solid var(--color_gray_11);
    padding-top: 3.1rem;
    padding-bottom: 2.7rem;
    padding-left: 3.5rem;
  }
}
