//:root {
//  --clr-primary-hsl-400: 252, 100%, 67%;
//  --clr-primary-hsl-500: 256, 72%, 46%;
//  --clr-secondary-hsl-400: 241, 81%, 54%;
//  --clr-secondary-hsl-500: 241, 72%, 46%;
//
//  --clr-neutral-hsl-100: 0, 0%, 100%;
//  --clr-neutral-hsl-200: 221, 100%, 96%;
//  --clr-neutral-hsl-300: 241, 100%, 89%;
//  --clr-neutral-hsl-700: 224, 30%, 27%;
//
//  --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
//  --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
//  --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
//  --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));
//
//
//  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
//  --clr-primary-500: hsla(var(--clr-primary-hsl-500));
//  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
//
//  --gradient-primary: linear-gradient(
//      var(--clr-primary-400),
//      var(--clr-secondary-400));
//
//  --gradient-to-transparent: linear-gradient(
//      var(--clr-primary-500),
//      hsl(var(--clr-secondary-hsl-500), 0));
//
//  --clr-accent-1: 0, 100%, 67%;
//  --clr-accent-2: 39, 100%, 56%;
//  --clr-accent-3: 166, 100%, 37%;
//  --clr-accent-4: 234, 85%, 45%;
//
//  --font-family-default: 'HankenGrotesk', sans-serif;
//
//  --fw-regular: 500;
//  --fw-bold: 700;
//  --fw-black: 800;
//
//  --fs-400: 1.125rem;
//  --fs-500: 1.25rem;
//  --fs-600: 1.5rem;
//  --fs-700: 1.75rem;
//  --fs-800: 2rem;
//  --fs-900: 5rem;
//}

.ResultsSummary {

  --size-step-0: 1rem;
  --size-step-1: 1.15rem;
  //--size-step-2: 1.56rem;
  //--size-step-3: 1.95rem;
  //--size-step-4: 2.43rem;

  --breack-point: 768px;
  --b-radius: 2rem;
  --pading: 2.2rem;

  line-height: 1.5;

  @font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  }
;

  margin-top: 100px;

  .backplate {
    font-family: HankenGrotesk, serif;
    margin: 0 auto;
    max-width: 42rem;
    box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 10%),
    0 50px 100px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);


    display: flex;
    border-radius: var(--b-radius);

    @media (max-width: 768px) {
      display: block;
    }

    .result {
      flex: 1;
      padding: var(--pading);
      background: linear-gradient(#6743ff, #3830c1);
      //background: linear-gradient(var(--clr-primary-500), hsl(var(--clr-secondary-hsl-500), 0.8));

      display: grid;
      justify-items: center;

      color: white;
      text-align: center;

      border-radius: var(--b-radius);
      @media (max-width: 768px) {
        border-radius: 0 0 var(--b-radius) var(--b-radius);
      }

      &__title {
        font-size: var(--size-step-1);
        font-weight: 700;
      }

      &__circle {
        width: 10rem;
        aspect-ratio: 1/1;
        border-radius: 100vh;
        background: linear-gradient(#3830c1, rgba(103, 67, 255, 0.1));

        display: grid;
        place-content: center;
        margin-inline: auto;

        & span {
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 1;
          display: block;
          //border: 1px solid greenyellow;
        }
      }

      &__content {
        font-size: var(--size-step-0);
      }

    }

    .summary {
      flex: 1;
      padding: var(--pading);

      &__title {
        font-size: var(--size-step-1);
        font-weight: 800;
      }

      &__items {
        display: grid;
        gap: 15px;
      }

      &__item {
        --clr-accent-1: 0, 100%, 67%;
        --clr-accent-2: 39, 100%, 56%;
        --clr-accent-3: 166, 100%, 37%;
        --clr-accent-4: 234, 85%, 45%;
        --clr-neutral-700: 224, 30%, 27%;

        display: flex;
        justify-content: space-between;
        padding: 0.62rem 1rem;
        border-radius: 10px;
        background: hsl(var(--color), 0.1);

        font-weight: 500;

        .details--title {
          color: hsl(var(--color));
        }

        .details--score {
          font-weight: 700;

          & :first-child {
            color: #2a2c3d;
          }

          & :last-child {
            color: gray;
          }
        }

        &[data-item="0"] {
          --color: var(--clr-accent-1);
        }

        &[data-item="1"] {
          --color: var(--clr-accent-2);
        }

        &[data-item="2"] {
          --color: var(--clr-accent-3);
        }

        &[data-item="3"] {
          --color: var(--clr-accent-4);
        }

      }

    }

  }


}
