.ResultsSummary {

  .backplate {
    margin: 0 auto;
    max-width: 45.5rem;
    box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 10%),
    0 50px 100px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);

    .result {

    }

    .summary {

    }

  }


}
