.ResultsSummary {


  --size-step-0: 1rem;
  --size-step-1: 1.15rem;
  //--size-step-2: 1.56rem;
  //--size-step-3: 1.95rem;
  //--size-step-4: 2.43rem;

  --breack-point: 768px;
  --b-radius: 2rem;
  --pading: 2.2rem;

  line-height: 1.5;

  @font-face {
    font-family: 'HankenGrotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  }
;

  .backplate {
    font-family: HankenGrotesk, serif;
    margin: 0 auto;
    max-width: 45.5rem;
    box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 10%),
    0 50px 100px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);


    display: flex;
    border-radius: var(--b-radius);

    @media (max-width: 768px) {
      display: block;
    }

    .result {
      flex: 1;
      padding: var(--pading);
      background: linear-gradient(#6743ff, #3830c1);
      color: white;
      text-align: center;

      border-radius: var(--b-radius);
      @media (max-width: 768px) {
        border-radius: 0 0 var(--b-radius) var(--b-radius);
      }

      &__title {
        font-size: var(--size-step-1);
        font-weight: 700;
      }

      &__content {
        font-size: var(--size-step-0);
      }

    }

    .summary {
      flex: 1;
      padding: var(--pading);
    }

  }


}
