.aside__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-bottom: 2px !important;
  }

  &__icons {
    display: flex;
    gap: 1rem;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 18px;
      width: 4rem;
      height: 4rem;
      border-radius: var(--border_radius_1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
      color: var(--color_block);
      // background: rgba(0, 0, 0, 0.515);
    }
  }
}

.avatar {
  margin-top: 5.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 7.5rem;
  }
  &__name {
    margin-top: 2.5rem;
    margin-bottom: 0px !important;
  }
  &__designation {
    font-size: 13px;
    font-weight: 600;
  }
}

.statics {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;

  text-align: center;

  & > div {
    flex: 1 1 100%;
    // border: 1px solid rgba(0, 0, 0, 0.004);
  }

  &__value {
    font-size: 15px;
    margin-bottom: -1px !important;
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
  }
}

.profile_buttons {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
